@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/AvenirNextLTPro-UltLt.otf");
  font-weight: 500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::before,
::after {
  border-width: 0;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

body{
  
  width: 100vw;
  height: 100vh;
  margin-top: -10px;
  margin-left: -10px;
}
div {
  font-family: "Avenir Next LT Pro";
}
